### Django ###
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/
/data/
/static/
staticfiles/

### Python ###
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
env/
requirements.txt.lock

### IDE (PyCharm, VSCode) ###
.idea/
.vscode/
*.swp
.cursorrules

### OS (macOS) ###
.DS_Store
.AppleDouble
.LSOverride

.env

anime_indexing/weights/
# 또는
anime_indexing/weights/*